body {
  font-family: 'Roboto';
  font-weight: 400;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

#root {
  min-height: 100vh;
}

@font-face {
  font-family: 'Roboto';
  src: url('./../_Font/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('./assets/fonts/myFont-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
